<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>GPTprivacy</title>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <h1>GPTprivacy</h1>
        <div class="about-container">
            <p>This website analyzes privacy policies and outputs key information like what kinds of information is collected, how it is collected, how the information is stored, whether it can be deleted or not, and other shady practices. This is done using the openai api, and makes a request with the GPT-4 model. You may input either the URL to the privacy policy page or copy and paste the page's text (ctrl+a, ctrl+c).</p>
        </div>
        <div class="chat-container">
            <h3>Copy and Paste Text</h3>
            <form id="chat-form">
                <input
                    type="text"
                    id="text-Input"
                    name="textInput"
                    placeholder="ctrl + v"
                >
                <button type="submit" id="submitBtn">Send</button>
            </form>
            <div id="result"></div>
        </div>

        <script>
            window.onload = function () {
                document
                    .getElementById("chat-form")
                    .addEventListener("submit", function (event) {
                        event.preventDefault();

                        let userInput = document.getElementById("text-Input").value;
                        console.log()
                        let url = `/query?textInput=${encodeURIComponent(userInput)}`;

                        fetch(url)
                            .then((response) => response.json())
                            .then((data) => {
                                let content = data.content;
                                let resultDiv = document.getElementById("result");
                                resultDiv.innerHTML = content;
                            })
                            .catch((error) => {
                                console.error("Error fetching GPT-4 response");
                            });
                    });
            };
        </script>
    </body>
</html>